.catgeory-module{
	.category-list{
		.service-title{
			font-size: 32px;
			color: #013D3A;
		}
		.v-tabs{
			&-bar{
				height: auto;
			}
			.v-tab{
				min-width: auto;
				height: 28px;
				color: #888888;
				font-weight: 600;
				&--active{
					background: rgba(13, 150, 71, 0.2);
					border-radius: 16px;
					color: #0D9647;
					font-weight: 700;
				}
			}
		}
		.v-tabs-items{
			.company-table{
				border: 1px solid #B8B8B8;
				border-radius: 0;
			}
		}
		&__searchBox{
			.v-input{
				padding-top: 0;
				margin-top: 0;
				&__slot{
					width: 310px;
					border-radius: 0;
					fieldset{
						border-bottom: 0;
					}
				}
			}
		}
		.company-table{
			table{
				thead{
					tr{
						height: 52px;
						th{
							font-size: 16px;
							color: #0D9648;
							line-height: 20px;
							font-weight: 700;
							text-align: left;
						}
					}
				}
				tbody{
					tr{
						height: 36px;
						&:nth-child(odd){
							background: #F4F5F7;
						}
						td{
							color: #0D1139;
							font-size: 16px;
							line-height: 20px;
							font-weight: 700;
							text-align: left;
						}
					}
				}
			}
		}
	}
}