.catgeory-module{
	.search-form{
		.v-input{
			border-radius: 8px;
			&__slot{
				margin-bottom: 0;
				fieldset{
					border: 1px solid #B8B8B8;
				}
			}
		}
	}
	.category-list{
		.service-title{
			font-size: 32px;
			color: #013D3A;
		}
		.v-tabs{
			&-bar{
				height: auto;
			}
			.v-tab{
				min-width: auto;
				height: 28px;
				span{
					font-size: 12px;
					color: #888888;
					font-weight: 600;
				}
				&--active{
					background: rgba(13, 150, 71, 0.2);
					border-radius: 16px;
					color: #0D9647;
					
					span{
						color: #0D9647;
						font-weight: 700;
					}
				}
				&:hover{
					&::before{
						border-radius: 16px;
					}
				}

			}
		}
		.v-tabs-items{
			.company-table{
				border: 1px solid #B8B8B8;
				border-radius: 0;
			}
		}
		&__searchBox{
			.v-input{
				padding-top: 0;
				margin-top: 0;
				&__slot{
					width: 310px;
					border-radius: 0;
					fieldset{
						border-bottom: 0;
					}
				}
			}
		}
		.company-table{
			.view-class {
				white-space: nowrap;
			}
			table{
				thead{
					tr{
						height: 52px;
						background: #FBFBFB;
						th{
							font-size: 12px;
							color: #7A7979;
							line-height: normal;
							font-weight: 700;
							text-align: left;
							text-transform: uppercase;
							border-bottom: 0 !important;
						}
					}
				}
				tbody{
					tr{
						height: 36px;
						border-bottom: 1px solid #F1F1F1;
						&:nth-child(odd){
							background: #fff;
						}
						&:hover{
							background: #F1F1F1 !important;
						}
						td{
							color: #0D1139;
							font-size: 16px;
							line-height: 20px;
							font-weight: 400;
							text-align: left;
							border-bottom: 1px solid  #F1F1F1 !important;
							height: 34px !important;
							&:first-child{
								display: block;
								align-self: center;
								margin-top: 10px;
								color: #0D9648;
								
								font-weight: 700;
								a{
									color: #0D9648 !important;
									div{
										max-width: 300px;
									}
								}
							}
						}
					}
				}
			}
		}
		.v-pagination{
			&__item{
				box-shadow: none;
				border-radius: 0;
				color: #888888;
				font-weight: 600;
				&--active{
					color: #fff;
				}
			}
			&__navigation{
				box-shadow: none;
				.v-icon{
					color: #0D9647;
				}
			}
		}
	}
}
@media(max-width: 768px){
	.catgeory-module{
		.category-list{
			.tabs-header{
				flex-direction: column;
				.v-tabs{
					.v-slide-group{
						&__prev{
							display: none !important;
						}
					}
				}
			}
			.company-table{
				table{
					thead{
						tr{
							th{
								font-size: 14px;
							}
						}
					}
					tbody{
						tr{
							td{
								font-size: 13px;
							}
						}
					}
				}
			}
		}
		
	}
}
