@font-face {
  font-family: 'Metropolis';
  src: url('@/assets/fonts/Metropolis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.company-module{
	.company-leftSidebar{
		.facts-data{
			background: #F4F5F7;
			margin-top: 18px;
			h3{
				font-size: 20px;
				color: #0D1139;
				line-height: 20px;
				font-family: 'Metropolis';
			}
			p{
				color: #0D1139;
				font-family: 'Metropolis';
				a{
					color: #013D3A !important;
					font-weight: 500;
				}
			}
			.company-links{
				p{
					font-size: 14px;
				}
			}
			.contact-list{
				h4{
					font-size: 16px;
					color: #013D3A;
					font-weight: 400;
					font-family: 'Metropolis';
				}
				.contact-email{
					@media(max-width: 1700px){
						max-width: 240px;
					}
					a{
						
					}
				}
			}
			.v-btn{
				font-size: 10px;
			}
		}
		.similar-companies{
			p{
				a{
					font-size: 15px;
				}
			}
		}
		.tag-box{
			background: rgba(13, 150, 71, 0.2);
			height: 60px;
			margin-top: 18px;
			h4{
				color: #0D9647;
				font-size: 11px;
				font-family: 'Metropolis';
			}
		}
	}
	.company-content{
		h1{
			color: #0D1139;
		}
		.company-title{
			h1{
				font-size: 40px;
				display: flex;
				align-items: center;
				span{
					font-size: 16px;
				}
			}
		}
		.company-location{
			.other-listing{
				.row{
					.col{
						&:nth-child(odd){
							padding-left: 0;
						}
					}
				}
				label{
					font-family: 'Metropolis';
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
		.company-service{
			.service-list{
				display: grid;
		    grid-template-columns: repeat(3, 1fr);
		    /*grid-template-rows: repeat(3, 0fr);*/
		    grid-column-gap: 5px;
		    grid-row-gap: 15px;
				@media (max-width: 768px) {
					grid-template-columns: repeat(2, 1fr);
				}
				@media (max-width: 420px) {
					grid-template-columns: repeat(1, 1fr);
				}
				label{
					font-weight: 500;
			    font-size: 14px;
			    line-height: 12px;
			    margin-right: 2px;
			    color: #0D1139;
					display: flex;
    			align-items: center;
					font-family: 'Metropolis';
			    .v-icon{
			    	color: #0D9647;
			    	margin-right: 5px;
			    }
				}
			}
		}
		.company-documents{
			.doc-col{
				h4{
					font-family: 'Metropolis';
				}
				p{
			    font-weight: 500;
			    font-size: 12px;
			    line-height: 25px;
			    color: #013D3A;
					font-family: 'Metropolis';
				}
			}
		}
		.company-news{
			.news-list{
				p{
					color: #013D3A;
				}
			}
		}
		.company-leadership{
			.leader-list{
				display: grid;
		    grid-template-columns: repeat(2, 1fr);
		    grid-column-gap: 32px;
		    grid-row-gap: 15px;
				@media(max-width: 768px){
					grid-template-columns: repeat(1, 1fr);
				}
				.profile-list{
					h6{
						font-weight: 700;
						font-size: 16px;
						line-height: 20px;
						color: #0D1139;
						margin-top: 8px;
						margin-bottom: 8px;
						font-family: 'Metropolis';
					}
					span{
						font-weight: 400;
						font-size: 12px;
						line-height: 20px;
						color: #0D1139;
						height: 40px;
            overflow: hidden;
						font-family: 'Metropolis';
					}
				}
			}
		}
		.company-subsi{
			.subsidary-list{
				display: grid;
		    grid-template-columns: repeat(3, 1fr);
		    grid-column-gap: 32px;
		    grid-row-gap: 15px;
			}
		}
		.company-esg{
			.esg-list{
				h4{
					font-weight: 600;
					font-size: 20px;
					line-height: 20px;
					color: #013D3A;
					font-family: 'Metropolis';
				}
				p{
					font-weight: 400;
					font-size: 15px;
					line-height: 20px;
					color: #013D3A;
				}
				.doc-col{
					h4{
						color: #0D1139;
						font-family: Metropolis;
						font-size: 16px;
						font-weight: 500;
						line-height: 20px;
					}
					p{
						color: #7A7979;
						font-family: Metropolis;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px;
					}
				}
			}
		}
	}
}
