.ofs-module{
	.get-topHeader{
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		h1{
			font-size: 32px;
			line-height: 32px;
		}
	}
	.search-form{
		position:  relative;
		.v-input{
			border-radius: 8px;
			&__slot{
				margin-bottom: 0;
				fieldset{
					border: 1px solid #B8B8B8;
				}
			}
			&__control{
				.v-text-field__details{
					display: none;
				}
			}
		}
		.v-btn{
			border-radius: 0;
			box-shadow: none;
		}
			.company-list{
				position: absolute;
				width: 100%;
				border: 1px solid #F1F1F1;
		    box-shadow: 0px 21px 26px rgb(0 0 0 / 10%) !important;
		    border-radius: 0px 0px 8px 8px;
		    max-height: 400px;
		    overflow: auto;
		    &::-webkit-scrollbar {
		      width: 5px;
		      height: 5px;
		    }
		    &::-webkit-scrollbar-thumb {
		      background: #e1e1e1;
		      border: 14px solid #0d9647;
		      border-radius: 26px;
		    }
		    &::-webkit-scrollbar-thumb:hover {
		      background: #ffffff;
		    }
		    &::-webkit-scrollbar-thumb:active {
		      background: #0d9647;
		    }
		    &::-webkit-scrollbar-track {
		      /*background: #666666;*/
		      border: 36px solid #e3e3e3;
		      border-radius: 42px;
		    }
		    &::-webkit-scrollbar-track:hover {
		      background: #666666;
		    }
		    &::-webkit-scrollbar-track:active {
		      background: #0d9647;
		    }
		    &::-webkit-scrollbar-corner {
		      background: transparent;
		    }
		    .all-btn{
		    	border-radius: 28px;
		    	color: #0D9648;
		    }
			}
	}
	.company-slider{
		.slick-slide {
		  padding: 5px 10px;
		  .slide-item{
		  	border: 2px solid #EFEFEF;
		  	height: 200px;
		  	background-color: #fff;
				border-radius: 8px;
		  	cursor: pointer;
		  	.slide-img{
		  		height: 137px;
		  		overflow: hidden;
		  		img{
		  			width: 100%;
		  		}
		  	}
		  	.slide-caption{
				padding-top: 10px;
		  		h3{
		  			font-size: 12px;
		  			color: #013D3A;
						border-radius: 0px 0px 8px 8px;
    				background: linear-gradient(0deg, rgba(13, 150, 72, 0.10) 0%, rgba(13, 150, 72, 0.10) 100%), #FFF;
		  		}
		  	}
		  }
		}
		.slick-prev:before, .slick-next:before{
			color: #0D9647;
		}
	}
	.ofs-listing{
		h1{
			cursor: pointer;
			color: #013D3A;
			a{
				color: #013D3A !important;
			}
		}
		p{
			color: #4A4242;
			font-weight: 600;
			.sub-catLink{
				cursor: pointer;
			}
		}
	}
}
@media(max-width: 768px){
	.company-slider{
		.slick-slide {
		  padding: 0 5px;
		}
	}
}
