.companySupplier-module{
	.mid-content{
			flex: 0 0 100%;
		  max-width: 100%;
		  z-index: 2;
		  padding-left: 0 !important;
		.content-section{
			background: #FFFFFF;
	  	border: 1px solid #B8B8B8;
	  	border-radius: 8px;
	  	margin-bottom: 0px;
	  	padding: 0px 0px;
	  	min-height: calc(100vh - 110px);
	  	.get-topHeader{
	  		border-top-right-radius: 8px;
		    border-top-left-radius: 8px;
	  	}
	  	.get-Header{
	  		.company-title{
	  			h1{
	  				font-size: 26px;
	  			}
	  		}
				.order-btns{
					a{
						width: 49%;
						.v-btn{
							border-radius: 8px;
							border: 2px solid #0D9647;
						}
					}
				}
	  	}
      .main-menu-list{
				border-bottom: 1px solid #DEDEDE;
				.v-list-item-group{
					width: 100%;
					.v-list-item{
						color: #0D1139;
						font-weight: 700;
						&:nth-child(1){
							padding-left: 0;
						}
						&:before{
							background-color: #FFFFFF;
						}
						&--active{
							border-bottom: 4px solid #0D9647;
							border-radius: 4px 4px 4px 4px;
						}
					}
				}
			}
		}
	}
	
	
}
.mid-content-collapse{
	flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 1400px) and (min-width: 1345px){
  .companySupplier-module{
		.mid-content {
			.content-section{
        .company-content{
          .company-leadership{
            .leader-list{
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-column-gap: 15px;
              grid-row-gap: 15px;
            }
          }
        }
			}
		}
	}
}
@media (max-width: 1344px) and (min-width: 1094px){
  .companySupplier-module{
		.mid-content {
			.content-section{
        .company-content{
          .company-leadership{
            .leader-list{
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-column-gap: 15px;
              grid-row-gap: 15px;
            }
          }
        }
			}
		}
	}
}
@media (max-width: 1093px) and (min-width: 1064px){
  .companySupplier-module{
		.mid-content {
			.content-section{
        .company-content{
          .company-leadership{
            .leader-list{
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-column-gap: 2px;
              grid-row-gap: 15px;
            }
          }
        }
			}
		}
	}
}
@media (max-width: 1063px) and (min-width: 960px){
  .companySupplier-module{
		.mid-content {
			.content-section{
        .company-content{
          .company-leadership{
            .leader-list{
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: 15px;
              grid-row-gap: 15px;
            }
          }
        }
			}
		}
	}
}
@media (max-width: 768px) {
	.companySupplier-module{
		flex: 0 0 100%;
	  	max-width: 100%;
		.mid-content {
			flex: 0 0 100%;
	  	max-width: 100%;
			.content-section{
				border: 0px;
				padding: 0;
			}
		}
	}
}
