.section-container{
	background: #FBFBFB;
}
.left-sidebar{
	background-color: #fff;
	position: relative;
	flex: 0 0 22%;
  max-width: 22%;
}
.toggleLeft-sidebar{
	flex: 0 0 5% !important;
  max-width: 5% !important;
  ::v-deep .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon{
  	margin-left: -22px;
  	min-width: 0px;
  }
  .sub-menu-item {
  	.v-list-group__items > .v-list-item{
	    padding-left: 59px;
	  }
  }

}
.mid-content{
	.content-section{
		background: #FFFFFF;
		border: 1px solid #B8B8B8;
		border-radius: 8px;
		margin-bottom: 20px;
		padding: 3px;
		.title-block{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 16px 13px;
			gap: 10px;
			h3{
				font-size: 20px;
				line-height: 25px;
				color: #0D9648;
			}
			a{
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				color: #0D1139;
			}
		}
		.shipment{
			border: 1px solid #F2F2F2;
		}
		.bids-table {
			table tbody tr:nth-of-type(even) {
		   	background-color: #F2F2F2;
		 	}
			table tbody tr th {
		   	color: #959595;
		    font-weight: 600;
		    font-size: 14px;
		 	}
			table tbody tr td {
		   	color: #0D1139;
		    font-weight: 600;
		    font-size: 16px;
		 	}
		 	.icon-circle{
		 		background: rgba(0, 0, 0, 0.1);
		 		
		 		border-radius : 50%;
		 		.v-icon.v-icon{
		 			font-size: 22px;
		 		}
		 	}
		}
	}
	.map-section{
		border: 1px solid #B8B8B8;
    border-radius: 8px;
    .map{
    	height: 400px;
    }
    img{
    	height: 100%;
    }
	}
}
.mid-content-collapse{
		flex: 0 0 67%;
	  max-width: 67%;
}
.v-select__selection--comma{
	color: #fff;
}
@media (max-width: 768px) {
	
	.mid-content {
		flex: 0 0 100%;
  	max-width: 100%;
		.content-section{
			border: 0px;
			padding: 0;
			.title-block{
				padding: 16px 18px;
			}
		}
		.map-section{
			border: 0;
			border-radius:0;
		}
	}
	.activity-section{
		display: none;
	}
}

@media (min-width: 769px) {
	.right-col{
		flex: 0 0 28%;
	  max-width: 28%;
	}
	.left-sidebar{
		background-color: #fff;
		position: relative;
		flex: 0 0 22%;
  	max-width: 22%;
	}
	.mid-content{
		display: block;
	}
}

