.addUsers-module{
	.mid-content{
		flex: 0 0 100%;
	  max-width: 100%;
	  z-index: 2;
	  padding-left: 0 !important;
	  .content-section{
	  	background: #FFFFFF;
	  	border: 1px solid #B8B8B8;
	  	border-radius: 8px;
	  	margin-bottom: 0px;
	  	padding: 10px 4px;
	  	.manage-sections{
	  		.top-section{
	  			justify-content: space-between;
	  			align-items: center;
	  			h4{
	  				font-weight: 700;
	  				font-size: 24px;
	  				line-height: 30px;
	  				color: #0D1139;
	  			}
	  			v-btn{
	  				background: #0D9648;
						border-radius: 8px;
	  			}
	  		}
	  		.addUser-form{
	  			form{
	  				label{
	  					font-size: 16px;
	  					color: #0D1139;
	  				}
	  				.v-input__slot fieldset{
	  						border: 1px solid #B8B8B8;
						    border-radius: 8px;
	  				}
	  				select{
	  					box-shadow: none;
	  				}
	  			}
	  		}
	  	}
	  }
	}
	.mid-content-collapse{
			flex: 0 0 100%;
		  max-width: 100%;
	}
}
@media (max-width: 768px) {
	.addUsers-module{
	flex: 0 0 100%;
	  	max-width: 100%;
		.mid-content {
			flex: 0 0 100%;
	  	max-width: 100%;
			.content-section{
				border: 0px;
				padding: 0;
	  		.userlist-table{
	  			table {
	  				thead{
	  					tr{
	  						th{
									font-size: 16px !important;
	  						}
	  					}
	  				}
	  			}
	  		}
			}
		}
	}
}