.inner-Company{
	flex: 0 0 78%;
    max-width: 78%;
	.mid-content{
		flex: 0 0 100%;
	  max-width: 100%;
	  z-index: 2;
	  padding-left: 0 !important;
	}
}
.mid-content-collapse{
	flex: 0 0 95%;
  	max-width: 95%;
}
@media (max-width: 768px) {
	.inner-Company{
		flex: 0 0 100%;
	    max-width: 100%;
    }
}