.section-container{
	background: #FBFBFB;
}
/*.left-sidebar{
	background-color: #fff;
	position: relative;
	flex: 0 0 22%;
	max-width: 22%;
	height: 94vh;
}*/
.toggleLeft-sidebar{
	flex: 0 0 5% !important;
  max-width: 5% !important;
  ::v-deep .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon{
  	margin-left: -22px;
  	min-width: 0px;
  }
  .sub-menu-item {
  	.v-list-group__items > .v-list-item{
	    padding-left: 59px;
	  }
  }

}
.mid-content{
	flex: 0 0 78%;
  max-width: 78%;
  z-index: 2;
  padding-left: 0 !important;
  .content-section{
  	background: #FFFFFF;
  	border: 1px solid #B8B8B8;
  	border-radius: 8px;
  	margin-bottom: 0px;
  	padding: 10px 4px;
  	height: calc(88vh - 20px);
  	.manage-sections{
  		.top-section{
  			justify-content: space-between;
  			align-items: center;
  			h4{
  				font-weight: 700;
  				font-size: 24px;
  				line-height: 30px;
  				color: #0D1139;
  			}
  			.tabs-head{
  				::v-deep .v-tabs-bar{
  					background-color: #F1F1F1;
  					border-radius: 8px;
  				}
  				::v-deep .v-tabs-slider-wrapper{
  					display: none;
  				}
  				.v-tabs-bar__content{
  					.v-tab{
  						margin-left: 0 !important;
  						text-transform: inherit;
  						font-size: 14px;
  						color: #0D1139;
  					}
  					.v-tab--active{
  						font-weight: 700;
  					}
  				}
  			}
  		}
  		.module-content{
  			.v-expansion-panel-header{
  				min-height: 72px;
  				padding: 16px 6px 16px 40px;
			    background-color: #FBFBFB;
  				h6{
  					color: #0D1139;
				    font-size: 16px;
  					 font-weight: 700;
  				}
  				::v-deep .v-expansion-panel-header__icon{
  					position: absolute;
  					left: 10px;
  					.v-icon{
  						color: #0D1139 !important;
					    caret-color: #0D1139 !important;
  					}
  				}
  				.btn-section{
  					width: 370px;
  					text-align: right;
  					a{
  						font-size: 14px;
  						font-weight: 500;
  						margin-right: 20px;
  					}
  					.toggle-btn{
  						color: #0D9648 !important;
  						.v-icon{
  							color: #0D9648 !important;
  						}
  					}
  					.contract-btn{
  						max-width: 150px;
  						color: #0D1139 !important;
  						.v-icon{
  							color: #0D1139 !important;
  						}
  					}	
  				}
  			}
  			.v-expansion-panel-header--active{
  				background-color: #fff;
  			}
  			.v-expansion-panel-content{
  				text-align: left;
  				p{
  					font-weight: 600;
  				}
  			}
  		}
  	}
  }
}
.mid-content-collapse{
		flex: 0 0 95%;
	  max-width: 95%;
}
@media (max-width: 768px) {
	.mid-content {
		flex: 0 0 100%;
  	max-width: 100%;
		.content-section{
			border: 0px;
			padding: 0;
			.manage-sections{
				padding: 8px !important;
				.top-section{
					display: block !important;
					h4{
						margin-bottom: 8px;
					}
					.tabs-head{
						::v-deep .v-slide-group__prev{
							display: none !important;
						}
					}
				}
				.module-content{
	  			.v-expansion-panel-header{
	  				display: block;
	  				h6{
					    font-size: 15px;
					    margin-bottom: 15px;
	  				}
	  				::v-deep .v-expansion-panel-header__icon{
	  					top: 36px;
	  				}
	  				.btn-section{
	  					a{
	  						font-size: 14px;
	  					}
	  					text-align: left;
	  					.toggle-btn{
	  						text-align: left !important;
	  					}
	  				}
	  			}
				}
			}
		}
	}
	.activity-section{
		display: none;
	}
}
@media(max-width: 400px){
	.module-content{
		.v-expansion-panel-header{
			display: block;
			.btn-section{
				a{
					font-size: 12px !important;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.right-col{
		display: none;
	}
}

@media (min-width: 769px) {
	.left-sidebar{
		background-color: #fff;
		position: relative;
		flex: 0 0 22%;
  	max-width: 22%;
  	height: 91vh;
  	position: sticky;
  	top: 92px;
	}
	.mid-content{
		
	}
	
}