.bids-module{
	.mid-content{
		.content-section{
			.__searchBox{
				.v-input{
					&__slot{
						min-height: 45px;
						width: 272px;
						fieldset{
							border-color: #F1F1F1;
						}
					}
					&__prepend-inner{
						margin-top: 13px;
						.v-icon{
							color: #B8B8B8;
						}
					}
				}
			}
			.bid-tab{
				.v-tab-bar{
					align-items: center;
					height: 31px;
				}
				.v-tab{
					height: 31px;
					border-radius: 16px;
					background: #FBFBFB;
					color: #0D1139;
					&--active{
						background: rgba(13, 150, 72, 0.1);
						color: #0D9648 !important;
					}
				}
			}
			.bids-table{
				thead{
					tr{
						th{
							font-size: 16px;
							border-bottom: thin solid #F1F1F1;
						}
					}
				}
				tbody{
					tr{
						td{
							color: #0D1139;
							font-size: 16px;
							font-weight: 600;
							border-bottom: 0 !important;
						}
						&:nth-child(even){
							background: #FBFBFB;
						}
					}
				}
			}
			.draft-table{
				tbody{
					tr{
						&:nth-child(odd){
							background: #FBFBFB;
						}
						&:nth-child(even){
							background: #FFFFFF;
						}
					}
				}
			}
		}
	}
}