.main-card {
  border-radius: 8px;
}

.detail {
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
  .serial {
    font-weight: 700;
  }
}

.status {
  color: #0d9648;
  font-size: 20px;
  font-weight: 700;
}

.award-status {
  color: #192739;
  font-size: 20px;
  font-weight: 700;
}

.time {
  font-size: 9px;
  font-weight: 600;
  color: black;
}

.v-divider {
  opacity: 0.2;
  margin-top: 6px;
}

.bid-number {
  font-size: 16px;
  font-weight: 700;
  color: #0d9648;
  margin-top: 4px;
}

.award-bid-number {
  color: #192739;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}

.setting {
  width: 44px;
  height: 44px;
  border-radius: 4px;
}

.title-detail {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.title-border {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px;
}

.bid-section-2 {
  margin: 30px 105px;
  align-items: center;
}

.loading-chat {
  height: 50vh;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 960px) {
  .bid-section-2 {
    margin: 30px 50px;
  }
}

@media (max-width: 600px) {
  .bid-section-2 {
    margin: 30px 10px;
  }
}

.invitedS-sec {
  margin-left: auto;
}

.row-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 680px) {
  .row-title {
    flex-direction: column;
    justify-content: center;
  }

  .status-sec {
    align-items: center;
    margin-top: 20px;
  }
  .setting {
    margin-top: 30px;
  }
}

@media (max-width: 470px) {
  .bid-section-2 {
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
  }

  .invitedS-sec {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.bid-creator {
  font-size: 16px;
  font-weight: 700;
}

.bid-creator-title {
  font-size: 12px;
  color: #959595;
}

.bidDetailtabs-section {
  .v-tabs {
    .v-tab {
      font-size: 16px;
      border-bottom: 1px solid #b8b8b8;
      &--active {
        background: rgba(13, 150, 72, 0.1);
        border-bottom: 2px solid #0d9648;
        color: #0d9648 !important;
      }
    }
  }

  .bid-detail-tab {
    .bid-row {
      border-bottom: 1px solid #f1f1f1;

      .title-desc {
        margin-top: 1px;
        p {
          font-size: 16px;
          font-weight: 400;
          span {
            font-weight: 700;
          }
        }
      }
      .bid-desc {
        margin-top: -5px;
        font-size: 16px;
        font-weight: 400;
        span {
          font-weight: 700;
        }
      }
      .bid-headline {
        margin-top: -15px;
        font-size: 16px;
        font-weight: 400;
        span {
          font-weight: 700;
        }
      }
    }
    .bid-row-2 {
      border-bottom: 1px solid #f1f1f1;
      .team-member {
        row-gap: 35px;
        column-gap: 128px;
        .flex-child {
          width: auto;
        }
      }
      .template-table-style {
        table {
          thead {
            tr {
              padding-left: 24px;
              padding-right: 24px;
              th {
                color: #000000;
                font-size: 16px;
                font-weight: 700;
                &:first-child {
                  padding-left: 26px;
                }
              }
            }
          }
          tbody {
            tr {
              padding-left: 24px;
              padding-right: 24px;
              td {
                color: #0d1139;
                font-size: 16px;
                font-weight: 600;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 26px;
              }
            }
            tr:nth-of-type(even) {
              background-color: #f1f1f1;
            }
          }
        }
      }
      .attachment-list-style {
        margin-top: 16px;
        table {
          thead {
            tr {
              th {
                color: #000;
                font-weight: 700;
                font-size: 16px;
              }
            }
          }
          tbody {
            tr {
              td {
                border-bottom: 0;
                color: #0d1139;
                font-size: 16px;
                font-weight: 600;
                height: 56px;
                padding-left: 24px;
              }
            }
          }
        }
      }

      .attachment-none {
        text-align: center;
        color: #959595;
      }
    }
    .bid-row-3 {
      .question-section-title {
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 24px;
      }
      .question-sub-section {
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 20px;
        padding-top: 20px;
        .sub-section-title {
          font-weight: 700;
          font-size: 16px;
        }
        .operational-ques {
          .first-child {
            font-weight: 600;
          }
          .second-child {
            font-weight: 600;
            color: #959595;
          }
        }
      }

      .legal-sub-section {
        padding-top: 20px;
        .sub-section-title {
          font-weight: 700;
          font-size: 16px;
        }
        .legal-ques {
          .first-child {
            font-weight: 600;
          }
          .second-child {
            font-weight: 600;
            color: #959595;
          }
        }
      }
    }
  }

  .broadcast-tab {
    .broadcast-desc {
      margin-top: 7px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .save-button {
      font-size: 16px;
      border-radius: 8px;
    }
  }

  .qanda-section {
    .badge {
      font-weight: 700;
      font-size: 16px;
    }

    .v-expansion-panels {
      margin-top: 20px;
      .v-expansion-panel {
        &:nth-child(even) {
          background: #fbfbfb;
        }
      }
      .v-expansion-panel-header {
        .header {
          font-weight: 700;
          .sub-title {
            font-weight: 500;
          }
        }
        .icon-desc {
          font-weight: 500;
          font-size: 12px;
          color: #959595;
          margin-right: 10px;
        }
      }
      .v-expansion-panel-content {
        .save-button {
          font-size: 12px;
          border-radius: 8px;
          font-weight: 700;
        }
      }
    }

    .header {
      font-weight: 700;
      .sub-title {
        font-weight: 500;
      }
    }
  }

  .bid-chat-row {
    .available-data {
      border-right: 1px solid #b8b8b8;
      min-height: 70vh;
      // .companies-list {
      //   padding-top: 50px;
      //   div:focus {
      //     background-color: #f1f1f1;
      //   }
      //   overflow: auto;
      //   &::-webkit-scrollbar {
      //     width: 4px;
      //     height: 5px;
      //   }
      //   &::-webkit-scrollbar-thumb {
      //     background: #e1e1e1;
      //     border: 14px solid #0d9647;
      //     border-radius: 26px;
      //   }
      //   &::-webkit-scrollbar-thumb:hover {
      //     background: #ffffff;
      //   }
      //   &::-webkit-scrollbar-thumb:active {
      //     background: #0d9647;
      //   }
      //   &::-webkit-scrollbar-track {
      //     /*background: #666666;*/
      //     /*border: 36px solid #e3e3e3;*/
      //     border-radius: 42px;
      //   }
      //   &::-webkit-scrollbar-track:hover {
      //     background: #666666;
      //   }
      //   &::-webkit-scrollbar-track:active {
      //     background: #0d9647;
      //   }
      //   &::-webkit-scrollbar-corner {
      //     background: transparent;
      //   }
      //   .list-company {
      //     .company-title {
      //       p {
      //         font-size: 12px;
      //         font-weight: 600;
      //       }
      //     }
      //   }
      // }

      .v-list {
        padding-top: 50px;
        height: calc(100vh - 243px);
        overflow: auto;
        &::-webkit-scrollbar {
          width: 4px;
          height: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: #e1e1e1;
          border: 14px solid #0d9647;
          border-radius: 26px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #ffffff;
        }
        &::-webkit-scrollbar-thumb:active {
          background: #0d9647;
        }
        &::-webkit-scrollbar-track {
          border-radius: 42px;
        }
        &::-webkit-scrollbar-track:hover {
          background: #666666;
        }
        &::-webkit-scrollbar-track:active {
          background: #0d9647;
        }
        &::-webkit-scrollbar-corner {
          background: transparent;
        }
      }
      .v-list-item {
        height: 80px;
        padding-left: 29px;
        border-bottom: 1px solid #f1f1f1;
        .img-class {
          object-fit: contain;
        }
        .v-list-item__icon:first-child {
          margin-right: 24px;
        }
      }
      .v-list-item__content {
        text-align: left;
        .v-list-item__title {
          color: #0d1139;
          font-weight: 700;
          font-size: 14px;
        }
        .v-list-item__subtitle {
          color: #0d1139 !important;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    .msg-header {
      border-bottom: 1px solid #b8b8b8;

      .company-title {
        h4 {
          font-size: 20px;
          font-weight: 700;
        }
        font-size: 12px;
        font-weight: 400;
      }
      .msg-options {
        align-items: center !important;
        .search {
          .v-text-field {
            align-items: center;
            border: 1px solid #f1f1f1;
            border-radius: 4px;
            .v-input__append-inner {
              align-self: center;
            }
            .v-input__prepend-outer {
              margin-top: 9px;
              margin-left: 6px;
            }
            fieldset {
              border-width: 0;
            }
            .v-input__slot {
              margin-bottom: 0;
              min-height: 44px;
            }
            .v-input__slot:before {
              border-width: 0;
            }
            .v-text-field__details {
              display: none;
            }
          }
        }
        .toggle-btn {
          position: relative;
          .active-btn {
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
          .v-btn {
            border-radius: 4px;
            box-shadow: none;
            color: #0d9648 !important;
            height: 45px;
            width: 45px;
          }
        }
      }
    }
    .messages-section {
      height: calc(100vh - 329px);
      .dropzone {
        box-sizing: border-box;
        display: none;
        position: absolute;
        width: 51.5%;
        height: 82%;
        z-index: 99999;
        background: #80808066;
        border: 6px dashed #0d9648;
      }
      .dropzoneActive {
        display: block;
      }
      .own-user {
        background: #fbfbfb;
      }
      .message-list {
        min-height: 95px;
        .v-list-item__title {
          font-weight: 700;
          font-size: 16px;
          color: #0d1139;
          line-height: 20px;
        }
        .v-list-item__subtitle {
          color: #201b1b !important;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
        }
      }
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 14px solid #0d9647;
        border-radius: 26px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
      }
      &::-webkit-scrollbar-thumb:active {
        background: #0d9647;
      }
      &::-webkit-scrollbar-track {
        /*background: #666666;*/
        border: 36px solid #e3e3e3;
        border-radius: 42px;
      }
      &::-webkit-scrollbar-track:hover {
        background: #666666;
      }
      &::-webkit-scrollbar-track:active {
        background: #0d9647;
      }
      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }
    .message-send-area {
      position: relative;
      .fileName {
        position: absolute;
        left: 20px;
        top: -5px;
      }
      .v-btn {
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
        box-shadow: none;
      }
      .attach-btn {
        background-color: rgba(13, 150, 72, 0.1);
        border-color: rgba(13, 150, 72, 0.1);
        border-radius: 8px;
        height: 43px;
        cursor: pointer;
      }
      .v-text-field__details {
        display: none;
      }
      .v-input__slot {
        box-shadow: 1px -1px 1px 0px rgb(0 0 0 / 7%),
          0px 2px 2px 0px rgb(0 0 0 / 12%), 0px 1px 5px 0px rgb(0 0 0 / 9%);
        /*border: 1px solid #B8B8B8;*/
        margin-bottom: 0;
        border-radius: 8px;
      }
    }
  }

  .bid-submission-tab {
    .template-table-style {
      table {
        thead {
          tr {
            padding-left: 20px;
            padding-right: 20px;
            th {
              color: #000000;
              font-size: 16px;
              font-weight: 700;
              &:first-child {
                padding-left: 26px;
              }
            }
          }
        }
        tbody {
          tr {
            padding-left: 24px;
            padding-right: 24px;
            td {
              color: #0d1139;
              font-size: 16px;
              font-weight: 500;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 26px;
            }
          }
          tr:nth-of-type(even) {
            background-color: #fbfbfb;
          }
        }
      }
    }

    .template-table-style-odd {
      table {
        thead {
          tr {
            padding-left: 20px;
            padding-right: 20px;
            th {
              color: #000000;
              font-size: 16px;
              font-weight: 700;
              &:first-child {
                padding-left: 32px;
              }
            }
          }
        }
        tbody {
          tr {
            padding-left: 24px;
            padding-right: 24px;
            td {
              color: #0d1139;
              font-size: 16px;
              font-weight: 500;
              padding-top: 16px;
              padding-bottom: 16px;
              padding-left: 26px;
            }
          }
          tr:nth-of-type(odd) {
            background-color: #fbfbfb;
          }
        }
      }
    }

    .submission-section {
      border-bottom: 1px solid #f1f1f1;
      font-weight: 600;
      .first-title {
        font-weight: 700;
      }
      .none-class {
        color: #b8b8b8;
      }

      .subscript {
        color: #0d9648;
        font-weight: 600;
        font-size: 9px;
        padding-left: 14%;
      }
    }

    .title-detail-supplier {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }
  }

  .audit-tab {
    .v-list {
      padding: 0 0;
      .icon-color {
        color: #0d9648;
        background-color: rgba(13, 150, 72, 0.1);
      }
      .default-color {
        background-color: #f2f2f2;
        color: lightgrey;
      }
      .notification-icon {
        font-size: 19px;
        padding: 0 0;
      }
      .v-list-item__title {
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: #000000;
      }
      .v-list-item__avatar {
        width: 34px;
        height: 34px;
        margin-left: 8px;
      }
      .v-list-item--link:before {
        background-color: transparent;
      }
      .v-list-item--link:first-child:before {
        width: 6px;
        height: 6px;
        background-color: #0d9648;
        opacity: 1;
        border-radius: 50%;
        left: 10px;
        top: 29px;
      }
    }
  }
}
