.error-module{
	.alert-section{
		.error-title{
			h1{
				color: #013D3A;
				font-size: 32px;
			}
		}
		.btn-section{
			.v-btn{
				font-size: 20px;
				border: 2px solid #0D9647;
				border-radius: 0;
			}
		}
	}
}
@media(max-width: 768px){
	.error-module{
		.alert-section{
			.btn-section{
				.v-btn{
					margin-bottom: 20px;
					width: 300px;
					margin-right: 0 !important;
					font-size: 17px;
				}
			}
		}
	}
}