.section-container{
	background: #FBFBFB;
}
.toggleLeft-sidebar{
	flex: 0 0 5% !important;
  	max-width: 5% !important;
  ::v-deep .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon{
  	margin-left: -22px;
  	min-width: 0px;
  }
  .sub-menu-item {
  	.v-list-group__items > .v-list-item{
	    padding-left: 59px;
	  }
  }
}
@media (min-width: 769px) {
	.left-sidebar{
		background-color: #fff !important;
		position: relative !important;
		flex: 0 0 22% !important;
  	max-width: 22% !important;
  	height: 91vh !important;
  	position: sticky !important;
  	top: 92px;
	}
}