.leftSide-module{
  .v-list-item{
    min-height: 48px;
    margin-bottom: 0 !important;
    position: relative;
    .msg-badge{
      position: absolute;
      width: 32px;
      height: 28px;
      background: #0D9648;
      color: white;
      text-align: center;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      font-weight: 700;
      right: 12%;
    }
    .mobile-badge{
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      top: 5%;
      right: 12%;
      background: #0D9648;
      color: white;
      display: flex;
      text-align: center;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
  }
  .v-list-item-group .v-list-item--active::after{
    background: #FBFBFB;
    /*border-right: 4px solid #0d9648;*/
    opacity: 1;
  }
  .main-menu{
    margin-bottom: 22px;
    .router-link-exact-active::after{
      background: #FBFBFB;
      border-right: 4px solid #0d9648;
      opacity: 1;
    }
    .router-link-exact-active{
      .v-list-item__title{
        color: #0d9648;
        border-right: 4px solid #0d9648;
        ::after{
          border-right: 4px solid #0d9648;
          opacity: 1;
        }
      }
      .v-icon{
        color: #0d9648;
      }

    }
  }
  .v-list-item__title{
    font-size: 16px !important;
    line-height: 20px;
    color: #959595;
    line-height: 2.5rem !important;
  }
  .v-list .v-list-item--active .v-icon{
    color: #0d9648;
  }
  .v-list-item--active .v-list-item__title{
      color: #0d9648 !important;
  }
  .v-list-item--link:before {
    background-color: transparent;
  }
  .sidebar-bottomMenu{
    position: absolute;
    bottom: 2%;
    width: 94%;
    .router-link-active{
      border-right:  4px solid #0d9648;
    }
  }
  .sub-menu-item{
    padding-top: 20px;
    .v-list-item{
      padding: 0 5px
    }
    ::v-deep .v-list-item{
      padding:  0 8px;
    }
    ::v-deep .v-list-item--active .v-icon {
        color: #0d9648;
    }
    .v-list-group__items > .v-list-item{
      padding-left: 56px;
    }
    .v-list .v-list-item--active {
        color: #0d9648;
    }
    .v-list-item--link:before{
      background-color: transparent;
    }
    .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon .material-icons{
      caret-color: red;
    }
    .router-link-active{
      .v-list-item__title{
        color: #0d9648;
      }
    }
  }
  
}
.toggleLeft-sidebar{
  .sidebar-bottomMenu{
    .sub-menu-item{
      padding-top: 20px;
      .v-list-item{
        padding: 0 10px
      }
      ::v-deep .v-list-item{
        padding:  0 8px;
      }
      ::v-deep .v-list-item--active .v-icon {
          color: #0d9648;
      }
      .v-list-group__items > .v-list-item{
        padding-left: 10px;
      }
      .v-list .v-list-item--active {
          color: #0d9648;
      }
      .v-list-item--link:before{
        background-color: transparent;
      }
      .v-list-group__header{
        padding: 0 8px;
        .v-list-item__icon{
          margin-right: 2px !important;
          min-width: 20px;
          margin-left: 0;
        }
      } 
      .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon .material-icons{
        caret-color: red;
      }
      .router-link-exact-active{
        .v-list-item__title{
          color: #0d9648;
        }
      }
    }
  }
  

}
@media(max-width:  768px){
  .leftSide-module{
    .desktop-view{
      display: none;
    }
  }
}